{% extends "base.html" %}

{% block title %}Daskboard{% endblock title %}
{% block content %}
<h1 class="mb-3">Devices</h1>
<!-- Rounded switch -->
<div class="mb-3">
    <label>
        <span class="text">AI control</span>
        <input {% if AI_CONTROL %}checked{% endif %} type="checkbox" name="" id="control" class="checkbox"
            onclick="switch_control()">
        <span class="mbtn-box">
            <span class="mbtn"></span>
        </span>
    </label>
</div>
<div class="row mb-2">
    <div class="col-xl-4 col-sm-6 grid-margin stretch-card">
        <a class="card-link {% if AI_CONTROL %}disabled{% endif %}" href="/devices/light">
            <div class="card">
                <div class="card-body text-center">
                    {% if light %}
                    <h1 class="dashboard-value mb-3 text-success">ON</h1>
                    {% else %}
                    <h1 class="dashboard-value mb-3 text-danger">OFF</h1>
                    {% endif %}
                    <h3 class="text-muted font-weight-normal">Light</h6>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-4 col-sm-6 grid-margin stretch-card">
        <a class="card-link {% if AI_CONTROL %}disabled{% endif %}" href="/devices/fan">
            <div class="card">
                <div class="card-body text-center">
                    {% if fan %}
                    <h1 class="dashboard-value mb-3 text-success">ON</h1>
                    {% else %}
                    <h1 class="dashboard-value mb-3 text-danger">OFF</h1>
                    {% endif %}
                    <h3 class="text-muted font-weight-normal">Fan</h6>
                </div>
            </div>
        </a>
    </div>
    <div id="water" class="col-xl-4 col-sm-6 grid-margin stretch-card">
        <a class="card-link {% if AI_CONTROL %}disabled{% endif %}" href="/devices/water">
            <div class="card">
                <div class="card-body text-center">
                    {% if water %}
                    <h1 class="dashboard-value mb-3 text-success">ON</h1>
                    {% else %}
                    <h1 class="dashboard-value mb-3 text-danger">OFF</h1>
                    {% endif %}
                    <h3 class="text-muted font-weight-normal">Water</h6>
                </div>
            </div>
        </a>
    </div>
</div>
<button class="btn btn-primary" onclick="location.reload();">Update</button>

<script>
    function switch_control() {
        var control = document.getElementById('control');
        if (control.checked != true) {  // 關掉
            window.location.href = '/devices/switch_control/?c=False';
        }
        else {  // 開啟
            window.location.href = '/devices/switch_control/?c=True';
        }
    }
</script>
{% endblock content %}